# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# SUPABASE CONFIGURATION
VITE_SUPABASE_URL=https://cpfxqusbzmnqfnnzmvgj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_aEMlGQAprHz9WsGS7__uCw_fPm9yLO8



